#logo {
  width: 10rem;
}

pre {
  font-size: 80%;
  overflow-x: hidden;
  white-space: pre-wrap;
}

blockquote {
  margin-left: 0;
}

pre, blockquote {
  border: 1px dotted black;
  padding: 1rem;
}

blockquote h1 {
  margin-top: 0;
}
